<section class="amazing_feature">
    <div class="container">
  
      <div class="row">
        <div class="col-md-12 text-center heading-main">
          <h2 class="heading">BOOKING CONDITIONS</h2>
          <p>Please read carefully and comply accordingly</p>
          <div class="separator"><i class="fa fa-home below-line-about-icon"></i></div>
  
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single_feature">
            <div class="feature_icon"><i class="fas fa-location-arrow"></i></div>
            <h3>Notice Period</h3>
            <p style="padding-bottom:20px; line-height: 26px;font-size: 14px;">All booking must have atleast 1week notice period before the event date for proper arrangement.</p>
          </div>
        </div><!-- END COL-->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single_feature">
            <div class="feature_icon"><i class="fa fa-magic"></i></div>
            <h3>Auditorium Light</h3>
        <p style="line-height: 28px; font-size: 14px;">Please note that an extra 2hours fuel will be added to the cost of powering the church Generator, 1 hour for set up and testing before the event and 1 hour after the event
            </p>
          </div>
        </div><!-- END COL-->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single_feature">
            <div class="feature_icon"><i class="fas fa-location-arrow"></i></div>
            <h3>Payment</h3>
            <p style="padding-bottom:50px; line-height: 30px;font-size: 14px;">Kindly pay to the TMP's bank account number provided below.
            </p>
          </div>
        </div>

        <!-- <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single_feature">
              <div class="feature_icon"><i class="fas fa-location-arrow"></i></div>
              <h3>Access to Canadian Loan</h3>
              <p style="padding-bottom:35px; line-height: 30px;font-size: 14px;">Our Clients have access to Canadian loans which enable them to cater for their 
                  academic needs  while school in Canada.
              </p>
            </div>
          </div> -->
          </div>
    </div>
    <!--- END CONTAINER -->
  </section>