<div class="testimonials text-center">

    <div class="container">
      <div class="col-md-12 text-center heading-main">
        <h4 style="color:gray;">Testimonials</h4>
        <h2 class="heading">What Our <span style="color: #f4af00;">Clients Say</span></h2>
        <div class="separator"><i class="fa fa-home below-line-about-icon"></i></div>

      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height: 40px;">
                Don’t be afraid to apply. Rejection from the embassy is not a ban.
                You’re eligible to apply again. So keep trying and go through the right
                people. And I suggest you go through SnowFox</p>
              <footer class="blockquote-footer"><cite title="Source Title">Frank</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height:40px;">I will suggest SnowFox to anyone who is planning to live, work and study in
                Canada. They are very efficient. What made me trust SnowFox is that they are
                very straight forward</p>
              <footer class="blockquote-footer"><cite title="Source Title">Elijah</cite></footer>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card border-light bg-light text-center">
            <i class="fa fa-quote-left fa-3x card-img-top rounded-circle" aria-hidden="true"></i>
            <div class="card-body blockquote">
              <p class="card-text" style="line-height:45px;">
                When my dad told me about the Canadian visa processing, I thought he
                was joking. As time went by, the admission came out and then my visa was
                granted.
              </p>
              <footer class="blockquote-footer"><cite title="Source Title">Lucky Ajayi</cite></footer>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
