<div class="footer">
    <div class="heading">
        <img width="50px;" src="assets/tmp.jpg" alt="">
      <!-- <h2 style="color:#f4af00; font-weight:550">SNOWFOX<sup>&#174;</sup></h2> -->
    </div>
    <div class="content" style="margin-top:40px;">
      <div class="services">
        <h4>Our Services</h4>
        <p><a href="#">Sunday Service (Alpha and Omega)</a></p>
        <p><a href="#">Digging Deep (6pm - 7pm every Tuesday)</a></p>
        <p><a href="#">Faith Clinic (6pm - 7pm every Thursday)</a></p>
        <p><a href="#">Special Programmes</a></p>
      </div>
      <div class="social-media">
        <h4>Social</h4>
        <p id="facebook">
          <a href=""
            ><i class="fab fa-facebook"></i>Facebook</a
          >
        </p>
        <p>
          <a href=""
            ><i class="fab fa-instagram"></i> Instagram</a
          >
        </p>
      </div>
      <div class="links">
        <h4>More</h4>
        <!-- <p><a href="#">Privacy and Policy</a></p>
        <p><a href="#">Resources</a></p> -->

      </div>
      <div class="details">
        <h4 class="address">Contact Us</h4>
      
        <p><span class="contact-title">Mobile</span>: 08103287602</p>
        <p><span class="contact-title">Whatsapp</span>: 08022881700</p>
        
        <p><span class="contact-title">Email</span>: rccgtmplace@gmail.com</p>
        <p><span class="contact-title">Address</span>: RCCG, Plot 302 Oshodi/Oworoshoki<br/> Expressway,Gbagada phase 2. Lagos.</p>
      </div>
    </div>
    <footer style="background-color:#fdb801; padding-bottom:10px;color:#fff">
      <hr />
      &copy; {{year}} RCCG TMP.
    </footer>
  </div>